* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

.main-game{
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    background-image: url(fundo.jpg);
}

.menu{
    position:absolute;
    display: flex;
    
}

.atack{
    position:absolute;
    left: 85vw;
    display:flex;
    
}

#respiracao{
    background-image: url(water.jfif);
    width: 40px;
    height: 40px;
    background-size: cover;
}

.chao{
    width: 100vw;
    height: 6vw;
    background-color: brown;
    background-image: url(grass.jpg);
    position: absolute;
    top: 89vh;
}

#personagem{
    
    position: relative;
    bottom:0px;
    display: flex;
    top:300px;
}